fastapi
uvicorn[standard]
httpx
neo4j
tqdm
pydantic
pydantic-settings
langgraph
langchain-core
langchain-anthropic
langchain-ollama
sentence-transformers
torch
langchain-huggingface
langchain-google-genai
langchain-nvidia-ai-endpoints
langsmith
python-dotenv
